.count {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 100px;
    border: 1px solid;
    margin: 10px 0px;
    .countButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 100%;
        cursor: pointer;
    }
}
