.card {
    width: 500px;
    height: 550px;
    overflow: hidden;
    position: relative;
    .info {
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            padding: 10px 20px;
            border: 2px solid black;
            background-color: grey;
            cursor: pointer;
        }
        .categoryTitle {
            font-size: xx-large;
            font-weight: 400;
            color: rgb(240, 240, 240);
            padding-bottom: 20px;
        }
    }
}

.background {
    width: 500px;
    height: 550px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    transform: scale(1);
    transition: 2s;
}

.card:hover .background {
    transform: scale(1.3);
    transition: 2s;
}
