.info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    height: 720px;
    width: 100%;
    align-items: center;
}

.container {
    width: 1000px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    img {
        height: 500px;
    }
}
