body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgb(20, 20, 20);
  font-size: large;
}

textarea:focus, input:focus{
  outline: none;
}

.content {
  flex-grow: 1;
}

a, a:hover, a:active {text-decoration: none; color: rgb(20, 20, 20);}

code {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI' 'Open Sans', 'Helvetica Neue', sans-serif
}
